.blog-title {
    background-color: #F8FAFC;
    height: 450px;
}

.blog-icon-container img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}

.blog-icon-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.blog-title-container {
    font-weight: bold;
    font-size: 45px;
    color: #333333;
    margin-bottom: 11px;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}

.blog-text-container {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

.article-heading {
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 25px;
}

.article {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 15px 0;
	border-bottom: 1px solid #CCC;
}


.date {
    margin-right: 15px;
    margin-left: 10px;
    font-size: 18px;
}

.article-title {
    font-size: 18px;
}

.article-list {
    width: 700px;
    margin-left: 300px;
}